@import 'src/styles/variables';

.container {
  margin: 0 15px 0 0;
}

.label {
  width: 100%;
  border: 1px solid #6B6B6B;
  border-radius: 10px;
  padding: 13px 20px;
}

.input {
  font-size: 16px;
  line-height: 22px;
  color: $grey-500;
}
